@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 14px;
    line-height: 22px;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
    width: 150px;
    height: 40px;
    background-color:#00A4E5;
    border-color: #00A4E5;
    color: #FFF;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
cursor: pointer;
}

ul li a {
  text-decoration: none;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
}

::-webkit-scrollbar {
    width: 8px;
  }

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #d3e2ff;
  }

  *::-webkit-scrollbar-thumb {
    border-radius:8px;
    background-color:#6e76f1;
  }
  
  
  @media screen and (max-width: 770px) {
    body {
        font-size: 12px;
        line-height: 16px;
    }
  }